Server/htdocs/AppController/commands_RSM/.DS_Store
.sonar_lock
report-task.txt
/.vscode
php/8.1/deplister.exe
php/8.1/dev/php8.lib
php/8.1/ext/php_bz2.dll
php/8.1/ext/php_com_dotnet.dll
php/8.1/ext/php_curl.dll
php/8.1/ext/php_dba.dll
php/8.1/ext/php_dl_test.dll
php/8.1/ext/php_enchant.dll
php/8.1/ext/php_exif.dll
php/8.1/ext/php_ffi.dll
php/8.1/ext/php_fileinfo.dll
php/8.1/ext/php_ftp.dll
php/8.1/ext/php_gd.dll
php/8.1/ext/php_gettext.dll
php/8.1/ext/php_gmp.dll
php/8.1/ext/php_imap.dll
php/8.1/ext/php_intl.dll
php/8.1/ext/php_ldap.dll
php/8.1/ext/php_mbstring.dll
php/8.1/ext/php_mysqli.dll
php/8.1/ext/php_oci8_19.dll
php/8.1/ext/php_odbc.dll
php/8.1/ext/php_opcache.dll
php/8.1/ext/php_openssl.dll
php/8.1/ext/php_pdo_firebird.dll
php/8.1/ext/php_pdo_mysql.dll
php/8.1/ext/php_pdo_oci.dll
php/8.1/ext/php_pdo_odbc.dll
php/8.1/ext/php_pdo_pgsql.dll
php/8.1/ext/php_pdo_sqlite.dll
php/8.1/ext/php_pgsql.dll
php/8.1/ext/php_shmop.dll
php/8.1/ext/php_snmp.dll
php/8.1/ext/php_soap.dll
php/8.1/ext/php_sockets.dll
php/8.1/ext/php_sodium.dll
php/8.1/ext/php_sqlite3.dll
php/8.1/ext/php_sysvshm.dll
php/8.1/ext/php_tidy.dll
php/8.1/ext/php_xsl.dll
php/8.1/ext/php_zend_test.dll
php/8.1/extras/ssl/openssl.cnf
php/8.1/glib-2.dll
php/8.1/gmodule-2.dll
php/8.1/icudt70.dll
php/8.1/icuin70.dll
php/8.1/icuio70.dll
php/8.1/icuuc70.dll
php/8.1/lib/enchant/libenchant2_hunspell.dll
php/8.1/libcrypto-1_1-x64.dll
php/8.1/libenchant2.dll
php/8.1/libpq.dll
php/8.1/libsasl.dll
php/8.1/libsodium.dll
php/8.1/libsqlite3.dll
php/8.1/libssh2.dll
php/8.1/libssl-1_1-x64.dll
php/8.1/license.txt
php/8.1/news.txt
php/8.1/nghttp2.dll
php/8.1/phar.phar.bat
php/8.1/pharcommand.phar
php/8.1/php-cgi.exe
php/8.1/php-win.exe
php/8.1/php.exe
php/8.1/php.ini-development
php/8.1/php.ini-production
php/8.1/php8.dll
php/8.1/php8embed.lib
php/8.1/php8phpdbg.dll
php/8.1/phpdbg.exe
php/8.1/readme-redist-bins.txt
php/8.1/README.md
php/8.1/snapshot.txt
